

 body {
    margin: 0;
    padding: 30px;
    padding-left: 80px;
  }
  
  .wrapper {
    margin: 0;
    padding: 0;
  }

  .query-string {
      font-size: 16px;
      font-style: italic;
      padding-bottom: 12px;


  }

.main-container {
/*  display: flex;
  align-items: center;*/
}

.blockText { 
  font-size: 32px;


 }

 .blockTextSelections { 
  font-style: italic;
  font-size: 30px;


 }




/* SLIDER.css */

    .rc-slider {
      position: relative;
      height: 6px;
      border-radius: 6px;
      background-color: #e9e9e9;
    }

    .rc-slider-rail {
      position: absolute;
      width: 10px;
      height: 6px;
      border-radius: 6px;
      background-color: #e9e9e9;
    }

    .rc-slider-track {
      position: absolute;
      height: 6px;
      border-radius: 6px;
      background-color: #ff0000;
    }

    .rc-slider-handle {
      position: absolute;
      width: 20px;
      height: 20px;
      border: 2px solid #ff0000;
      border-radius: 50%;
      background-color: #fff000;
      transform: translate(-50%, -50%);
    }

    .slider-container { 
/*      position: absolute;*/
/*      top: 40px;*/
      left: 300px;
      width: 300px;
      margin: auto;
    }

    .vis-container { 
        cursor: pointer;

     }


/* FORM buttons */ 

.form-container {
 /* display: flex;
  flex-direction: column;
  gap: 10px; /* Adjust the gap between buttons and form */
}

.formButton {
  margin: 1px;
  font-size: 10px;
  padding: 4px 8px; /* Adjust the padding to control the height */
}

.dropdown-menu {
  margin-top: 1px;
  font-size: 10px;
  min-height: auto; /* Set min-height to auto to allow the content to determine the height */
  padding: 1px 1px; /* Adjust the padding to control the height */
}

.apply-button {
  margin: 1px;
  font-size: 10px;
}

.dropdown-container {
  display: flex;
  gap: 16px; /* Adjust the spacing between dropdowns */
  margin-bottom: 30px;
}

/* TABLE */

.my_table .table_cell {
  font-size: 9px;
  padding: 4px;
}

.my_table .id_col {
  width: 20px; /* Set the desired width */
}


.my_table .selectedRow:nth-child(even) {
  background-color: #baeaf0; /* Shade color for even rows */
}

.my_table .selectedRow:nth-child(odd) {
  background-color: #e2ffff; /* Shade color for odd rows */
}


.my_table .flowRow:nth-child(even) {
  background-color: #fff4f3; /* Shade color for even rows */
}

.my_table .flowRow:nth-child(odd) {
  background-color: #FFCCCB; /* Shade color for odd rows */
}

