

 body {
    margin: 0;
    padding: 0;
  }
  
  .wrapper {
    margin: 0;
    padding: 0;
  }

  
.custom-button {
  background-color: red; /* Set the desired background color */
  color: white; /* Set the desired text color */
}

/* slider.css */

.rc-slider {
  position: relative;
  height: 6px;
  border-radius: 6px;
  background-color: #e9e9e9;
}

.rc-slider-rail {
  position: absolute;
  width: 10px;
  height: 6px;
  border-radius: 6px;
  background-color: #e9e9e9;
}

.rc-slider-track {
  position: absolute;
  height: 6px;
  border-radius: 6px;
  background-color: #ff0000;
}

.rc-slider-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #ff0000;
  border-radius: 50%;
  background-color: #fff000;
  transform: translate(-50%, -50%);
}

.slider-container {
  position: absolute;
  top: 40px;
  left: 300px;
  width: 400px;
  margin: auto;
}

.vis-container { 
    cursor: pointer;

 }

