
.my_table .table_cell {
  font-size: 9px;
  padding: 4px;
}

.my_table .id_col {
  width: 20px; /* Set the desired width */
}


.my_table .MuiTableRow-root:nth-child(even) {
  background-color: #f9f9f9; /* Shade color for even rows */
}

.my_table .MuiTableRow-root:nth-child(odd) {
  background-color: #ffffff; /* Shade color for odd rows */
}
